<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-bluegray"
             style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
            <div class="panel-heading">
                <h2>Add new book</h2>
            </div>
            <!--enctype="multipart/form-data"-->
            <form method="post" action="/books/create" enctype="multipart/form-data" class="form-horizontal">
                <div class="panel-body">
                    {{#if success}}
                        <div class="text-center center-block">
                            <br>
                            <div class="alert alert-success col-xs-offset-3 col-xs-9"
                                 style="padding: 10px;">{{success}}</div>
                        </div>
                    {{/if}}
                    <div class="form-group mb-md">
                        <label for="title" class="col-xs-3 control-label">Title</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="title" id="title"
                                   placeholder="title of the book" required novalidate>
                        </div>

                    </div>
                    <div class="form-group mb-md">
                        <label for="Email" class="col-xs-3 control-label">Author</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="author" id="author"
                                   placeholder="author of the book" required novalidate>
                        </div>
                    </div>
                    <div class="form-group mb-md">
                        <label for="address" class="col-xs-3 control-label">Description</label>
                        <div class="col-xs-9">
                            <textarea type="text" class="form-control" name="description" id="description" placeholder="Description" rows="2" required novalidate ></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-n">
                        <label for="preview" class="col-xs-3 control-label">Preview</label>
                        <div class="col-xs-9">
                            <div class="fileinput fileinput-new" required style="width: 100%;"
                                 data-provides="fileinput">
                                <div class="fileinput-preview thumbnail mb20" data-trigger="fileinput"
                                     style="width: 100%; height: 30px;"></div>
                                <div>
                                    <a href="#" class="btn btn-default fileinput-exists"
                                       data-dismiss="fileinput">Remove</a>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="preview" accept=".epub">
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-n">
                        <label for="main book" class="col-xs-3 control-label">Main Book</label>
                        <div class="col-xs-9">
                            <div class="fileinput fileinput-new" required style="width: 100%;"
                                 data-provides="fileinput">
                                <div class="fileinput-preview thumbnail mb20" data-trigger="fileinput"
                                     style="width: 100%; height: 30px;"></div>
                                <div>
                                    <a href="#" class="btn btn-default fileinput-exists"
                                       data-dismiss="fileinput">Remove</a>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="main_book" accept=".epub">
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-n">
                        <label for="cover" class="col-xs-3 control-label">Cover</label>
                        <div class="col-xs-9">
                            <div class="fileinput fileinput-new" required style="width: 100%;"
                                 data-provides="fileinput">
                                <div class="fileinput-preview thumbnail mb20" data-trigger="fileinput"
                                     style="width: 100%; height: 150px;"></div>
                                <div>
                                    <a href="#" class="btn btn-default fileinput-exists"
                                       data-dismiss="fileinput">Remove</a>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="cover" >
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-md">
                        <label for="phoneNumber" class="col-xs-3 control-label">Price</label>
                        <div class="col-xs-9">
                            <input type="number" class="form-control" name="price" id="price"
                                   placeholder="Price of the book" required novalidate>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    {{#if error}}
                        <div class="center-block text-center">
                            <br>
                            <div class=" col-xs-offset-3 col-xs-9 alert alert-danger" style="margin-bottom: -10px; padding: 10px;">{{error}}</div>
                        </div>
                    {{/if}}
                    <div class="clearfix">
                        <input type="submit" class="btn btn-primary pull-right" name="" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>